.game-detail-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.ml-3 {
  margin-left: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background: #444;
}

.user-menu:hover .dropdown-menu {
  display: block;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 190px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0px;
  color: #232323;
}

.notfound .notfound-404 h1>span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url('../img/emoji.png');
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  font-weight: 300;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: #f99827;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}

.wp-caption-text,
.wp-block-image figcaption {
  display: none !important;
}

.custom-gallery-container {
  width: 100% !important;
}

dd {
  margin-inline: inherit !important;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

iframe {
  width: 100%;
  height: 81vh;
  border: none;
  overflow: hidden;
}

body.single .site-main>article .mag-post-single {
  padding: 25px !important;
}

.signin-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  justify-content: center;
}

.profile-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  justify-content: center;
}

.signin-btn::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></svg>');
  margin-left: 8px;
  margin-top: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-subtitle {
  color: #28a745;
  font-size: 14px;
  margin-bottom: 20px;
}

.checkmark {
  color: #28a745;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.powered-by {
  text-align: right;
  font-size: 12px;
  color: #666;
}

.openpass {
  color: #007bff;
}

.continue-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.terms {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #666;
  font-size: 14px;
  position: relative;
}

.button-signin-social {
  width: 100%;
  padding: 10px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-icon {
  width: 20px;
  margin-right: 10px;
}

.facebook-icon {
  width: 20px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.divider::after,
.divider::before {
  content: " ";
  position: absolute;
  display: block;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #d3d3d3;
}

.divider::before {
  left: 0.5rem;
}

.divider::after {
  right: 0.5rem;
}

.load-more-wrapper {
  text-align: center;
  margin: 20px 0;
}

.load-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: 1px solid var(--primary-color);
}

.load-more-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination-prev,
.pagination-next,
.pagination-number {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-prev,
.pagination-next {
  background-color: #f5f5f5;
}

.pagination-number.current {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.pagination-number:hover,
.pagination-prev:hover,
.pagination-next:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.pagination-prev.disabled,
.pagination-next.disabled {
  color: #ccc;
  border-color: #ddd;
  background-color: #f5f5f5;
  pointer-events: none;
}

.background-white {
  background-color: #fff !important;
}

#ez-toc-container {
  background-color: #fff !important;
  padding: 15px 20px;
  border-radius: 8px;
  margin: 20px 0;
  font-weight: bold !important;
}

#ez-toc-container a {
  margin-left: 10px;
}

.ez-toc-title-container {
  border-bottom: none;
}

.ez-toc-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.ez-toc-title-toggle {
  display: none;
}

.ez-toc-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ez-toc-list-level-1>li.ez-toc-heading-level-2 {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.ez-toc-list-level-1>li.ez-toc-heading-level-2:before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 1;
}

.ez-toc-list-level-3 {
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
}

.ez-toc-list-level-3>li.ez-toc-heading-level-3 {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.ez-toc-list-level-3>li.ez-toc-heading-level-3:before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 1;
}

.ez-toc-list a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.ez-toc-list a:hover {
  color: #ff6f61;
}

.ez-toc-counter nav ul li a::before {
  content: '' !important;
}