@media only screen and (max-width: 768px) {
    .notfound .notfound-404 {
        height: 115px;
    }

    .notfound .notfound-404 h1 {
        font-size: 86px;
    }

    .notfound .notfound-404 h1>span {
        width: 86px;
        height: 86px;
    }

    .wp-block-table th,
    .wp-block-table td {
        padding: 10px;
        font-size: 14px;
    }

    .main-information {
        flex-direction: column;
    }

    .information-area {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .wp-block-list {
        margin-left: 0;
    }

    .current-time,
    .duration {
        width: inherit;
    }

    .custom-blockquote-tip p {
        font-size: 14px;
        padding: 0 10px;
    }
    .tip-header {
        font-size: 12px;
    }
}